<%- include('header'); %>

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Event Details</h2>
                <ol>
                    <li><a href="index.ejs">Home</a></li>
                    <li><a href="portfolio.ejs">Event</a></li>
                    <li>Event Details</li>
                </ol>
            </div>

        </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper-container">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="img/portfolio/codefrenzy.jpeg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="img/portfolio/codefrenzynew.jpeg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="img/portfolio/huntTheCode.jpeg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="img/portfolio/CaseCipher.jpeg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="img/portfolio/roundhacks.jpeg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="img/portfolio/newConference.jpeg" alt="">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Event information</h3>
                        <ul>
                            <li><strong>Event</strong>: Aurora Conference</li>
                            <li><strong>Date</strong>:07 March 2021</li>
                            <li><strong>Time</strong>:5PM-6PM</li>

                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>About</h2>
                        <p>
                            Nurturing yourself with knowledge and different aspect of technology is a crucial necessity
                            for surviving in today's
                            industry. An individual should never stop to learn and broaden his knowledge on upcoming
                            futuristic fields.
                            With that mind, Aurora the annual fest of round-table DTU, brings to you Confex21 on 6-7th
                            march an opportunity to
                            interact with the prominent leaders of tech and non-tech giants.
                        </p>

                        <p>
                            Confex-21 – It’s an online interactive conference consisting of webinars on current
                            technologies that are being
                            exploited and opportunities that are present in the industry. Webinars will consist of
                            comprehensive discussion on
                            topics like Block chain. Virtual and augmented reality etc.
                        </p>
                        <p>
                            It’s a great opportunity for anyone who is eager to learn and broaden his understanding of
                            the current opportunities that are present in the corporate world.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->

<%- include('footer'); %>