<%- include('header'); %>

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Event Details</h2>
                <ol>
                    <li><a href="index.ejs">Home</a></li>
                    <li><a href="portfolio.ejs">Event</a></li>
                    <li>Event Details</li>
                </ol>
            </div>

        </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper-container">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="img/portfolio/codefrenzy.jpeg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="img/portfolio/codefrenzynew.jpeg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="img/portfolio/huntTheCode.jpeg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="img/portfolio/CaseCipher.jpeg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="img/portfolio/roundhacks.jpeg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="img/portfolio/newConference.jpeg" alt="">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Event information</h3>
                        <ul>
                            <li><strong>Event</strong>: The Case Cipher</li>
                            <li><strong>Date</strong>:7th March 2021</li>
                            <li><strong>Time</strong>:6PM</li>
                            <li><strong>Prizes</strong>:Worth 1000Rs</li>

                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>About</h2>
                        <p>
                            Fostering skill development has always been our priority and so AURORA, the annual fest of
                            Roundtable is back again with one of its most successful non tech events- The Case Cipher on
                            the 7th March, Sunday (online mode)
                        </p>
                        <p>
                            A case study event is here for all college students to test your analytical and problem
                            solving skills. A perfect opportunity for you to put forth your all your knowledge to solve
                            real world problems and come up with innovative and effective solutions.
                        </p>
                        <p>
                            <strong>This is your chance to break free from the college routine lectures and get a
                                taste of
                                the 'Real world'.</strong>
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->

<%- include('footer'); %>