<%- include('header'); %>

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Event Details</h2>
                <ol>
                    <li><a href="index.ejs">Home</a></li>
                    <li><a href="portfolio.ejs">Event</a></li>
                    <li>Event Details</li>
                </ol>
            </div>

        </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper-container">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="img/portfolio/codefrenzy.jpeg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="img/portfolio/codefrenzynew.jpeg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="img/portfolio/huntTheCode.jpeg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="img/portfolio/CaseCipher.jpeg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="img/portfolio/roundhacks.jpeg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="img/portfolio/newConference.jpeg" alt="">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Event information</h3>
                        <ul>
                            <li><strong>Event</strong>: Hunt The Code</li>
                            <li><strong>Date</strong>:07 March 2021</li>
                            <li><strong>Time</strong>:5PM-8PM</li>
                            <li><strong>Prizes</strong>:Worth 1000Rs</li>

                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>About</h2>
                        <p>
                            Do you also spend a lot of time of yours in debugging weird codes? Do you also feel restless
                            when you are not able to
                            write the apt code? If yes, then this event is for you!
                            A one-stop destination for you to demonstrate your coding skills and hunting mind.
                        </p>
                        <h5><strong> Guidelines: </strong></h5>
                        <p>
                            All the participants will be given a link 10 minutes prior to the start of the event.
                            Judgement will be based on:
                            <br>
                            Total time taken by the participants for completing all the rounds
                            Total number of rounds completed
                            <h5><strong> Timeline: </strong></h5>

                            Registrations end on 6th March 2021
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->

<%- include('footer'); %>