<%- include('header') %>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>Getter a better insight of tech and non tech world</h1>
        <h2>Want to unleash your hidden debating and management potential? Can’t wait to make them placement
          interviewers swoon at you and your charms? But don’t know how to make those aforementioned things come true?
          Well, then, you’ve come to the right place! Scroll down to know more.</h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>

      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="img/hero-img.svg" class="img-fluid animated" alt="">
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <!-- <img src="assets/img/hero-img.svg" class="img-fluid animated" alt="">-->
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="row justify-content-between">
        <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
          <img src="img/about-img.svg" class="img-fluid" alt="" data-aos="zoom-in">
        </div>
        <div class="col-lg-6 pt-5 pt-lg-0">
          <h3 data-aos="fade-up">Our Journey</h3>
          <p data-aos="fade-up" data-aos-delay="100">
            Round Table, Delhi Technological University was formed in the summer of 2014 with the aim of knitting
            together the technical and non-technical aspects of a job.

            The society strives to inculcate the essential skills required for technical and non-technical job
            profiles. We aim to bridge the gap between the numerous aspects of a job and make students market ready.
            Our vision is achieved by engaging students in various workshops, highlighting the nuances of CV building,
            financing and so on.

            Our team is always open to work with enthusiastic and talented young people who are diligent in their
            endeavours.
          </p>


        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Activities</h2>
        <p>Check out the great activities we do</p>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="">ROUND TABLE CREATIVE LABS</a></h4>
            <p class="description">Members bring in creative ideas & collaborate with other members to implement them
              as problem solving projects.We then, present these projects which helps build techincal knowledge and
              communcation skills</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">WORKSHOPS</a></h4>
            <p class="description">We organise Technical and Non-Technical workshops for members and student.These
              include resume building, case study analysis, technical workshops such as competitive programming, web
              development & machine learning.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="">EVENTS & COMPETITIONS</a></h4>
            <p class="description">We conduct regular events & competitions to challege our skill sets.We organise
              regular meetups, group discussions, case study competitions and hackathons for students</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="">SKILLS & KNOWLEDGE DEVELOPMENT SESSIONS</a></h4>
            <p class="description">We organise special sessions conducted by people who are industry leaders.These are
              interactive sessions that involve career guidance, current trends & insights in their fields</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->
  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Events</h2>
        <p>Here Are The Events We conduct</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="img/portfolio/newConference.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="img/portfolio/newConference.jpeg" data-galleryery="portfolioGallery" class="portfolio-lightbox"
                title="App 1"><i class="bi bi-plus"></i></a>
              <a href="aurora-conference-1.ejs" title="More Details"><i class="bi bi-link"></i></a>
            </div>
            <div class="portfolio-info">
              <h4>Aurora Conference</h4>
              <p>Day 1</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="img/portfolio/roundhacks.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="img/portfolio/roundhacks.jpeg" data-galleryery="portfolioGallery" class="portfolio-lightbox"
                title="App 1"><i class="bi bi-plus"></i></a>
              <a href="roundhacks.ejs" title="More Details"><i class="bi bi-link"></i></a>
            </div>
            <div class="portfolio-info">
              <h4>Round Hacks</h4>
              <p>Technical</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="img/portfolio/CaseCipher.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="img/portfolio/CaseCipher.jpeg" data-galleryery="portfolioGallery" class="portfolio-lightbox"
                title="App 1"><i class="bi bi-plus"></i></a>
              <a href="CaseCipher.ejs" title="More Details"><i class="bi bi-link"></i></a>
            </div>
            <div class="portfolio-info">
              <h4>Case Cipher</h4>
              <p>Non Technical</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="img/portfolio/huntTheCode.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="img/portfolio/huntTheCode.jpeg" data-galleryery="portfolioGallery" class="portfolio-lightbox"
                title="App 1"><i class="bi bi-plus"></i></a>
              <a href="HuntCode.ejs" title="More Details"><i class="bi bi-link"></i></a>
            </div>
            <div class="portfolio-info">
              <h4>Hunt The Code</h4>
              <p>Technical</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="img/portfolio/codefrenzynew.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="img/portfolio/codefrenzynew.jpeg" data-galleryery="portfolioGallery" class="portfolio-lightbox"
                title="App 1"><i class="bi bi-plus"></i></a>
              <a href="portfolio.ejs" title="More Details"><i class="bi bi-link"></i></a>
            </div>
            <div class="portfolio-info">
              <h4>Code Frenzy</h4>
              <p>Technical</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="img/portfolio/newconference.jpeg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="img/portfolio/newconference.jpeg" data-galleryery="portfolioGallery" class="portfolio-lightbox"
                title="App 1"><i class="bi bi-plus"></i></a>
              <a href="aurora-conference-2.ejs" title="More Details"><i class="bi bi-link"></i></a>
            </div>
            <div class="portfolio-info">
              <h4>Aurora Conference</h4>
              <p>Day 2</p>
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="img/portfolio/portfolio-2.jpg" data-galleryery="portfolioGallery" class="portfolio-lightbox"
                  title="Web 3"><i class="bi bi-plus"></i></a>
                <a href="portfolio.ejs" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Hunt The Code</h4>
                <p>Technical</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="img/portfolio/portfolio-3.jpg" data-galleryery="portfolioGallery" class="portfolio-lightbox"
                  title="App 2"><i class="bi bi-plus"></i></a>
                <a href="portfoli.ejs" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>The Case Cipher</h4>
                <p>Non Technical</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="img/portfolio/portfolio-4.jpg" data-galleryery="portfolioGallery" class="portfolio-lightbox"
                  title="Card 2"><i class="bi bi-plus"></i></a>
                <a href="portfolio.ejs" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Code Frenzy</h4>
                <p>Technical</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="img/portfolio/portfolio-5.jpg" data-galleryery="portfolioGallery" class="portfolio-lightbox"
                  title="Web 2"><i class="bi bi-plus"></i></a>
                <a href="portfolio.ejs" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Aurora 1</h4>
                <p>Tech/Non-Tech</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="img/portfolio/portfolio-6.jpg" data-galleryery="portfolioGallery" class="portfolio-lightbox"
                  title="App 3"><i class="bi bi-plus"></i></a>
                <a href="portfolio.ejs" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Aurora 2</h4>
                <p>Tech/Non-Tech</p>
              </div>
            </div>
          </div> -->

        <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="img/portfolio/portfolio-7.jpg" data-galleryery="portfolioGallery" class="portfolio-lightbox"
                  title="Card 1"><i class="bi bi-plus"></i></a>
                <a href="portfolio.ejs" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="img/portfolio/portfolio-8.jpg" data-galleryery="portfolioGallery" class="portfolio-lightbox"
                  title="Card 3"><i class="bi bi-plus"></i></a>
                <a href="portfolio.ejs" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Card 3</h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="img/portfolio/portfolio-9.jpg" data-galleryery="portfolioGallery" class="portfolio-lightbox"
                  title="Web 3"><i class="bi bi-plus"></i></a>
                <a href="portfolio.ejs" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
              </div>
            </div>
          </div> -->

      </div>

    </div>
  </section><!-- End Portfolio Section -->



  <!-- ======= F.A.Q Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Applications</h2>
        <p>Who can apply</p>
      </div>

      <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">

        <li>
          <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Graphic Designers <i
              class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq1" class="collapse" data-bs-parent=".faq-list">
            <p>
              Ardent illustrators with a keen sense of minimal design.
              Motion Graphics Creators.
              UI, UX designers who understand brand architecture.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Web Developers & Programmers <i
              class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq2" class="collapse" data-bs-parent=".faq-list">
            <p>
              Frontend and Backend Developers.
              Android & iOS app Developers.
              Competitive Programmers.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Content Creators <i
              class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq3" class="collapse" data-bs-parent=".faq-list">
            <p>
              Creative content writers with the ability to write articulate texts.
              Ability to come up with engaging, witty & concise content.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Corporate Development Managers <i
              class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq4" class="collapse" data-bs-parent=".faq-list">
            <p>
              Forte in understanding the business environment.
              A knack for negotiating with corporate leaders.
              Experience to crack deals.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">PR & Publicity Managers <i
              class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq5" class="collapse" data-bs-parent=".faq-list">
            <p>
              Digital Marketing & Public Relations Managers.
              Ability to publicize and promote our themes creatively.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq6" class="collapsed question" Problem Solvers & Leaders <i
            class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq6" class="collapse" data-bs-parent=".faq-list">
            <p>
              Leaders with good communication skills.
              Resourceful individuals who can apply their skills to solve problems.
            </p>
          </div>
        </li>

      </ul>

    </div>
  </section><!-- End F.A.Q Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Our Posts</h2>
        <p>Here you Can See Our Posts!!</p>
      </div>

      <div class="row">

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="member">
            <img src="img/portfolio/codefrenzynew.jpeg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Code Frenzy</h4>
                <span>Technical</span>
              </div>
              <div class="social">
                <a href="https://m.facebook.com/123688481300097/"><i class="bi bi-facebook"></i></a>
                <a href="https://instagram.com/roundtabledtu?igshid=126lggtgi5c2y/"><i class="bi bi-instagram"></i></a>
                <a href="https://in.linkedin.com/company/round-table-dtu"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="member">
            <img src="img/portfolio/CaseCipher.jpeg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Case Cipher</h4>
                <span>Non Technical</span>
              </div>
              <div class="social">
                <a href="https://m.facebook.com/123688481300097/"><i class="bi bi-facebook"></i></a>
                <a href="https://instagram.com/roundtabledtu?igshid=126lggtgi5c2y/"><i class="bi bi-instagram"></i></a>
                <a href="https://in.linkedin.com/company/round-table-dtu"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="member">
            <img src="img/portfolio/roundhacks.jpeg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Round Hacks</h4>
                <span>Technical</span>
              </div>
              <div class="social">
                <a href="https://m.facebook.com/123688481300097/"><i class="bi bi-facebook"></i></a>
                <a href="https://instagram.com/roundtabledtu?igshid=126lggtgi5c2y/"><i class="bi bi-instagram"></i></a>
                <a href="https://in.linkedin.com/company/round-table-dtu"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
          <div class="member">
            <img src="img/portfolio/huntTheCode.jpeg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Hunt The Code</h4>
                <span>Technical</span>
              </div>
              <div class="social">
                <a href="https://m.facebook.com/123688481300097/"><i class="bi bi-facebook"></i></a>
                <a href="https://instagram.com/roundtabledtu?igshid=126lggtgi5c2y/"><i class="bi bi-instagram"></i></a>
                <a href="https://in.linkedin.com/company/round-table-dtu"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->



  <!-- ======= Contact Us Section ======= -->
  <!-- <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Details</h2>
        <p>Fill Out your Details To Be a part Of Our Team!!</p>
      </div>

      <div class="row">

        <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>Delhi Technological University New Delhi</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>info@example.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+1 5589 55488 55s</p>
            </div>

            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
              frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
          </div>

        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Your Name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
                <label for="name">Your Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <label for="name">Subject</label>
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <label for="name">Message</label>
              <textarea class="form-control" name="message" rows="10" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>

    </div>
  </section>End Contact Us Section -->

</main><!-- End #main -->

<%- include('footer') %>