<%- include('header'); %>

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Event Details</h2>
                <ol>
                    <li><a href="index.ejs">Home</a></li>
                    <li><a href="portfolio.ejs">Event</a></li>
                    <li>Event Details</li>
                </ol>
            </div>

        </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper-container">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="img/portfolio/codefrenzy.jpeg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="img/portfolio/codefrenzynew.jpeg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="img/portfolio/huntTheCode.jpeg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="img/portfolio/CaseCipher.jpeg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="img/portfolio/roundhacks.jpeg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="img/portfolio/newConference.jpeg" alt="">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Event information</h3>
                        <ul>
                            <li><strong>Event</strong>: Code Frenzy</li>
                            <li><strong>Date</strong>:06 March 2021</li>
                            <li><strong>Time</strong>:6PM-9PM</li>
                            <li><strong>Prizes</strong>:Worth 1000Rs</li>

                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>About</h2>
                        <p>
                            Are you a coding enthusiast who wants to dive into the ocean of coding and logic building?
                            OR are you just a newbie with
                            a zeal to step into the realm of competitive coding ?
                        </p>
                        <p>
                            Either way, RoundTable DTU is here to get you covid coding positive with CODE FRENZY, a
                            Competitive Programming Event OPEN FOR ALL , sponsored by Coding Ninjas
                        </p>
                        <p>
                            The event consists of several Coding questions, based on DSA and basic programming, that'll
                            compel you to dig deeper into your gray matter to work out efficient solutions to intricate
                            problems in the least time possible using logical algorithms, to be completed in a span of
                            1hr 30min .
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->

<%- include('footer'); %>